body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 40%;
    margin: 3.125rem 6rem 0 6rem;
}

#survey-form {
    padding: 2.5rem;
}

@media (max-width: 1024px ) {
    .container {
        width: 100%;
    }
}
